.feedback {
    width: 100%;

    display: flex;
    justify-content: space-around;
    column-gap: 10px;
}

.feedback > div {
    cursor: pointer;
}

.feedback > div:hover {
    opacity: 0.5;
    transition: 800ms;
}

.feedback p {
    opacity: 0.5;
    font-weight: 500;
}