@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFAF2;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #212D59;
    text-align: center;
}

.App {
    height: 100vh;

    display: flex;
    align-items: center;  
    justify-content: center;
}

button { 
    all: unset;

    width: 10vw;
    padding: 12px;

    background-color: #2F2D2C;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;

    cursor: pointer;
}