.contact-card {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 100%;
}

.contact-img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

#chat-icon {
    cursor: pointer;
    margin-left: auto;
}